.home {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 28px;
  overflow-x: hidden !important;
  margin: auto !important;
  background: #fff;
}

.home h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 62px;
}

.home h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 42px;
}

.home h3 {
  font-size: 22px;
  line-height: 38px;
  font-weight: 300;
}

.home h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.home h5 {
  font-size: 25px;
  font-weight: 300;
}

.home .form-control {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  box-shadow: none;
  height: 57px;
  padding-left: 20px;
}

.home .white-text {
	color: #fff;
}
